<html lang="en">
  <style>
    @import url("http://fonts.cdnfonts.com/css/bentonsans-regular"); * { font-family: "BentonSans Regular", serif; }
    body { font-family: sans-serif; background-color: #fafafa; box-sizing: border-box; margin: auto; padding: 0; } .main
    { width: 650px; height: 700px; background:
    url("https://i.pinimg.com/474x/34/b0/ab/34b0abe71f6b7933aa1d1e36e8c4f0d8.jpg") center/cover no-repeat padding-box;
    margin: auto; } .text { color: #5c6c80; font-size: 12px; font-style: normal; font-weight: 400; margin: 4px; }
    .banner { width: 100%; } .footerText { color: #7b809a; font-family: Inter; font-size: 15px; font-style: normal;
    font-weight: 500; margin: 0px; } .textBox { background-color: #ffffff; padding:70px 20px; border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table align="center" class="main">
      <tr>
        <td style="padding: 30px">
          <!-- <table align="center" style="width: 100%">
            <tr>
              <img
                style="width: 100%; object-fit: cover; object-position: center"
                src="https://lawrencestrialbucket.s3.amazonaws.com/banner.png"
                alt=" banner"
              />
            </tr>
          </table> -->
          <table style="margin: 20px 0px" class="textBox">
            <tr>
              <td>
                <h3 style="color: #1a314d; margin: 0px; font-size: 18px">
                  Hello
                  {{name}},
                </h3>
              </td>
            </tr>
            <tr>
              <td>
                <p
                  style="
                    color: #5c6c80;
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 600;
                  "
                >
                  Happy Birthday! 🎂 Today, we celebrate the wonderful gift God has given us in you. As you mark another
                  year, may you feel His love and guidance in a special way, knowing that He has beautiful plans for
                  your life.
                </p>
                <p class="footerText">
                  "‘For I know the plans I have for you,’ declares the Lord, ‘plans to prosper you and not to harm you,
                  plans to give you hope and a future.’" – Jeremiah 29:11
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <hr />
                <p class="text">Kind regards,</p>
                <p class="text">LIC Youth Ministry</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>